body{
    width: 1280px;
    margin: auto;
    box-sizing: border-box;
}
div img{
    width: 200px;
    border: grey 5px solid;
    border-radius: 50%;
    padding: grey 900px;
    }   
div{
    width: 100%;
    background-color: darkgray ;
    display:flex;
    justify-content: space-around;
} 

